{{>tweets-leftbar route='setting'}}
{{>tweets-postTweet}}
<div class="col-6 p-0">
  <div class="container p-0">
    <div class="content" style="border:1px solid #E6ECF0">
      <div class="setting">
        {{>setting-table}}
      </div>
    </div>
  </div>
</div>